NEXT_PUBLIC_SUPABASE_URL=https://hoqopenktmcqiscweuou.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhvcW9wZW5rdG1jcWlzY3dldW91Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyMzMxMjgsImV4cCI6MjA5MDgwOTEyOH0.KofkWbX6bdHJAxz_WD9vElQtNXgaGnkMfHzg_GQxD70
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhvcW9wZW5rdG1jcWlzY3dldW91Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTIzMzEyOCwiZXhwIjoyMDkwODA5MTI4fQ.vFYSN1vYtlZZr6hNSBFuMDtI6qhCEAtBBEtEMynjJWs
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=
STRIPE_SECRET_KEY=placeholder
STRIPE_WEBHOOK_SECRET=placeholder
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=placeholder
STRIPE_PRO_PRICE_ID=placeholder
